/*
| The mu framework v0.3
| BafS 2016-2017
*/
*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: #000000;
  margin: 40px auto;
  background-color: #878e8c;
  max-width: 100%;
  line-height: 1.6;
  font-size: 44px;
  text-transform: lowercase;
  padding: 0 20px;
}

h1, h2, h3, h4 {
  font-family: monospace;
/*  background: #F28893;
*/  line-height: 1.2;
}

h5 {
  font-family: monospace;
  font-style: thin;
  text-transform: none;
  font-size: 18px;
}

a {
  color: #07c;
  text-decoration: none;
}

a:hover {
  color: #059;
  text-decoration: underline;
}

hr {
  border: 0;
  margin: 25px 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  padding-bottom: 25px;
}

td, th, hr {
  border-bottom: 1px solid #ddd;
}

.image-container {
    margin: auto;
    max-width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;

}

/*small-button {
  text-transform: lowercase;
  background: transparent;
  border: 3px solid #444;
  font-size: 16px;
  letter-spacing: 1.5;
}
*/
button, select {
  font-family: monospace;
  text-transform: lowercase;
  background: transparent;
  border: 2px solid #444;
  font-size: 26px;

}

input, table {
  font-size: 16px;
  font-family: monospace;

}

input, td, th {
/*  padding: 5px;
*/  
    padding: 5px;
    text-transform: lowercase;
    background: transparent;
    font-family: monospace;
    border: 2px solid #444;
    font-size: 26px;
    position: relative;
    float: right;
    right: auto;
    width: 40%;



}

code, pre, button:hover {
/*  background: #eee;
*/}

pre {
  padding: 8px;
  white-space: pre-wrap;
}

textarea {
  border-color: #ccc;
}


/*
| GRID
*/
.row {
  display: block;
  width: auto;
  min-height: 1px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .c {
  float: left;
}

table, .g2, .g3, .g3-2, .m2, .m3, .m3-2 {
  width: 100%;
}

/*
| Media queries
| Responsive grid, mobile first
*/
@media (min-width: 768px) {
  .g2 {
    width: 50%;
  }

  .m2 {
    margin-left: 50%;
  }

  .g3 {
    width: 33.33%;
  }

  .g3-2 {
    width: 66.66%;
  }

  .m3 {
    margin-left: 33.33%;
  }

  .m3-2 {
    margin-left: 66.66%;
  }
}
